{% extends 'menu/ADMINISTRADOR/Plantilla_adm.html' %}

    {% load static %}

    {% block titulo %}     
      <title>Historial Médico </title>
    {% endblock titulo %}

    {% block estilos %}
     <link rel="stylesheet" href="{%static 'menu/css_administrador/HistorialMe.css' %}">
    {% endblock estilos %}
    
    

      
      {% block cuerpo %}
  <br>
  <div class="box"> Historial Médico</div> <br>
  <td>
    {% for m in mascotas %}
             {% for m in nombreD %}
               <td><img src="{{m.foto.url}}" alt="No foto"></td>
               <td> {{m.nombrecompletoUsuario}} </td>
               <td> {{m.nombreMascota}}</td>
               <td>Ninguna</td>
               <td>Resfriado</td>
               <td>4</td>
               <td>3204</td>
               <td>{{m.edadMascota}}</td>
               <td>{{m.codigoChip}}</td>
             </tr>
             
             <tr>
               <td><img src="{{m.foto.url}}" alt="No foto"></td>
               <td>{{m.nombrecompletoUsuario}}</td>
               <td>{{m.nombreMascota}}</td>
               <td>Moquillo</td>
               <td>Demartitis</td>
               <td>11 </td>
               <td>120</td>
               <td>{{m.edadMascota}} </td>
               <td>{{m.codigoChip}}</td>
             </tr>
             <tr>
               
              <td><img src="{{m.foto.url}}" alt="No foto"></td>
               <td>{{m.nombrecompletoUsuario}}</td>
               <td>{{m.nombreMascota}}</td>
               <td>Ninguna</td>
               <td>Parvovirus</td>
               <td>8</td>
               <td>13</td>
               <td>{{m.codigoChip}}</td>
             </tr>
             <tr>
               <td><img src="{{m.foto.url}}" alt="No foto"></td>
               <td>{{m.nombrecompletoUsuario}}</td>
               <td>Darth vader</td>
               <td>gastroenteritis </td>
               <td>gastroenteritis por covid</td>
               <td>11</td>
               <td>321</td>
               <td>{{m.edadMascota}}</td>
               <td>{{m.codigoChip}}</td>
             </tr>
             <tr>
               <td><img src="{{m.foto.url}}" alt="No foto"></td>
               <td>{{m.nombrecompletoUsuario}}</td>
               <td>{{m.nombreMascota}}</td>
               <td>Niguna</td>
               <td>Rabia</td>
               <td>4</td>
               <td>152</td>
               <td>{{m.edadMascota}}</td>
               <td>{{m.codigoChip}}</td>
             </tr>
             <tr>
               <td><img src="{{m.foto.url}}" alt="No foto"></td>
               <td>{{m.nombrecompletoUsuario}}</td>
               <td>{{m.nombreMascota}}</td>
               <td>Ninguna</td>
               <td>Parásitos intestinales</td>
               <td>6</td>
               <td>135</td>
               <td>{{m.edadMascota}}</td>
               <td>{{m.codigoChip}}</td>
             </tr>
             {% endfor %}
             {% endfor %}




  <script src="{%static 'menu/java_administrador/tablaYbusquedad.js%}"></script>
  {% endblock cuerpo %}