{% extends 'menu/ADMINISTRADOR/Plantilla_adm.html' %}

    {% load static %}

    {% block titulo %}     
      <title>Historial Médico </title>
    {% endblock titulo %}

    {% block estilos %}
     <link rel="stylesheet" href="{%static 'menu/css_administrador/HistorialMe.css' %}">
    {% endblock estilos %}
    
    

      
      {% block cuerpo %}
  <br>
  <div class="box"> Historial Médico</div> <br>
  <td>
    <table border="1">
      <tr>
          <th>chip mascota</th>
          <th>nombre mascota </th>
          <th>edad mascota</th>
          <th>fecha nacimiento mascota</th>
          <th>enfermedad mascota</th>
          <th>Archivos</th>
          <th>raza mascota</th>
          <th>nombre dueno</th>
          <th>Acciones</th>
      </tr>

      {% for m in mascotas %}
      <tr>
        <td>{{m.codigoChip}}</td>
        <td> {{m.MascotaNombre}}</td>
        <td>{{m.edadMascota}}</td>
        <td>{{m.fechaNacimiento}}</td>
        <td>{{m.enfermedades}} </td>

        <td><img src="{{m.foto.url}}" alt="No foto"></td>

        <td> {{m.raza}} </td>
        <td> {{m.nombreDueno}} </td>
        <td>
          <a href="{% url 'eliminarM' m.codigoChip %}" class="btn btn-danger">Eliminar</a>
        </td>

      </tr>
      {% endfor %}

  </table>


  <script src="{%static 'menu/java_administrador/tablaYbusquedad.js%}"></script>
  {% endblock cuerpo %}