{% extends 'menu/ADMINISTRADOR/Plantilla_adm.html' %}

    {% load static %}

    {% block titulo %}     
    <title>Inicia Sesión</title>
    {% endblock titulo %}

    {% block estilos %}
  <link rel="stylesheet" href="{%static 'menu/css_administrador/login.css' %}">
    {% endblock estilos %}
    
    

      
      {% block cuerpo %}





  <div class="container" id="container">
    <div class="form-container sign-up-container" id="form">
      <form action="#" class="formulario" id="formulario" method="POST" enctype="multipart/form-data">
        <h1>Crear una cuenta</h1>
        <div class="social-container">
 
        </div>
        <!--Registro-->
        <input type="text" placeholder="Nombre Completo" id="nombreReg"/> 
        <input type="text" placeholder="Rut" id="rutReg"/>
        <input type="email" placeholder="Correo electrónico" id="correoReg"/>
        <input type="password" placeholder="Contraseña" id="contraReg"/>
        <button type="submit" onclick="return enviarformularioReg();" values="enviar">Iniciar sesión</button>
        <div id="errorReg"></div>
      </form>
    </div>

    <div class="form-container sign-in-container">
      <form action="#" method="POST" enctype="multipart/form-data">
        <h1>Iniciar sesión</h1>
        <div class="social-container">
          
        </div>
        <!--Inicio Sesion-->      
        <input type="email" placeholder="Correo electrónico" id="correoLogJuan"/>
        <input type="password" placeholder="Contraseña" id="contraLogJuan"/>
        <a href="#">¿Se te olvidó tu contraseña?</a>
        <button type="submit" onclick="return enviaLogJuan();" values="enviar">Iniciar sesión</button>
        <div id="errorLogJuan"></div>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>¡Bienvenido de nuevo!</h1>
          <p>Para mantenerse conectado con nosotros, inicie sesión con su información personal</p>
          <button class="ghost" id="signIn">Inciar sesión</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>¡Hola, amigo!</h1>
          <p>Ingresa tus datos personales </p>
          <button class="ghost" id="signUp">Inscribirse</button>
          <p class="warnings" id="warnings"></p>
        </div>
      </div>
    </div>
  </div>
  <h2 class="titulo-final">&copy; Veterinaria Juanita</h2>
  <script src="{%static 'menu/java_administrador/javaLogin.js' %}"></script>
  <script src="{%static 'menu/java_administrador/Login.js' %}"></script>
  <script src="{%static 'menu/java_administrador/Registrar.js' % }"></script>
  {% endblock cuerpo %}