<!DOCTYPE html>
<html lang="en">
<head>
  {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Paciente</title>
    <link type="text/css" rel="stylesheet" href="{%static 'menu/css/estilo.css' %}">
    <link rel="stylesheet" href="{%static 'menu/css/estiloREGISTRO.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body class="cuerpo">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="circulo" href="{%url 'Inicio' %}"><IMG src="{%static 'menu/img/LOGO.png' %}" class="imagen"></IMG></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                 <a class="nav-link" href="{%url 'Inicio' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Registro_paciente">Registro Paciente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'Historial_Medico' %}">Historial Médico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'Contacto_Clientes' %}">Contacto con Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'Login' %}">Iniciar Sesión</a>
          </li>
           
        </ul>
        
      </div>
    </div>
  </nav>
  <div class="box">Registra a tu Paciente </div>
  <div class="container">
    <table class="table table-fixed">
      <form action="#">
      <thead>
        <tr>
          <th class="col-xs-3" id="nombre_mascota">Nombre Mascota</th>
          <th class="col-xs-3" id="nombre_dueño">Nombre Dueño</th>
          <th class="col-xs-6" id="enfermedades">Enfermedades</th>
          <th id="años_mascota">Años Mascota</th>
          
          
        </tr>
     
      </thead>
      
     <td> <form action="#Inicio" class="d-flex" role="text">
        <input class="form-control me-3"
      type="text" id="nombre_mascota1" placeholder="" aria-label="Search" >
             </form>

              <td> 
                <form action="#Inicio" class="d-flex1" role="text">
                   <input class="form-control me-3" type="text" placeholder="" aria-label="Search" id="nombre_dueño1">
                 </form>
              </td>
<td>
  <form action="#Inicio" class="d-flex2" role="text">
     <input class="form-control me-3" type="number" placeholder="" aria-label="Search" id="enfermedades1">
    
  </form>
</td>
<td>
  <form action="Inicio.html" class="d-flex3" role="text">
   <input class="form-control me-3" type="text" placeholder="" aria-label="Search" id="años_mascota1">
   
<div class="editarboton"><button type="button"onclick='return enviarformulario_r();' values="enviar" class="btn btn-outline-primary">Guardar</button></div></div> 
<div id="error"></div>
</form>
  </form>
  
</td>

      <tbody>
        

        <script src="/veterinaria_juanita/HTML/JAVA/javaFormulario.js"></script>
        
</body>
</html>