{% extends 'menu/ADMINISTRADOR/Plantilla_adm.html' %}

    {% load static %}

    {% block titulo %}     
     <title>Registro Paciente</title>
    {% endblock titulo %}

    {% block estilos %}
  <link rel="stylesheet" href="{%static 'menu/css_administrador/estiloREGISTRO.css' %}">
    {% endblock estilos %}
    
    

      
      {% block cuerpo %}

  <div class="box">Registra a tu Paciente </div>
  <div class="container">
      <form action="{% url 'ingreso_mascota' %}" id="contact"  method="POST" enctype="multipart/form-data" >
        {% crsf_token %}
        <h3>Registro Paciente</h3>
        <fieldset>
          <input placeholder="codigo chip mascota" type="text" tabindex="1" id="Codigo" name='Codigo' autofocus>
        </fieldset>
        <fieldset>
          <input placeholder="nombre mascota " type="text" tabindex="2" id="nombre_mascota" name='nombre_mascota'>
        </fieldset>
        <fieldset>
          <input placeholder="edad de mascota " type="number" tabindex="3" id="Edad" name='Edad'>
        </fieldset>
        <fieldset>
          <input placeholder="fecha nacimiento de Mascota" type="date" tabindex="1" id="Fecha" name='Fecha' autofocus>
        </fieldset>
        <fieldset>
          <input placeholder="enfermedad mascota" type="text" tabindex="5" id="enfermedades" name='enfermedades'>
        </fieldset>
        <fieldset>
          <input accept=".jpg, .jpeg, .png, .pdf" type="file" id="archivo_mascota" name="archivo_mascota" required>
        </fieldset>

        <fieldset>
          <select class="form-control" name="raza" id="raza">
            {% for x in razas %}
            <option value="{{x.codigoRaza}}">{{x.nombreRaza}}</option>
            {% endfor %}
          </select>
        </fieldset>
        <fieldset>
          <input placeholder="nombre dueno" type="text" tabindex="5" id="dueno" name='dueno'>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" onclick='return enviarformulario_contacto();' values="enviar"
            id="contact-submit" data-submit="...Sending">Enviar</button>
          <div id="error"></div>
        </fieldset>
      </form>
  </div>       

        <script src="{%static 'menu/veterinaria_juanita/HTML/JAVA/javaFormulario.js' %}"></script>
        
{% endblock cuerpo %}