{% extends 'menu/ADMINISTRADOR/Plantilla_adm.html' %}

    {% load static %}

    {% block titulo %}     
     <title>Registro Paciente</title>
    {% endblock titulo %}

    {% block estilos %}
  <link rel="stylesheet" href="{%static 'menu/css_administrador/estiloREGISTRO.css' %}">
    {% endblock estilos %}
    
    

      
      {% block cuerpo %}

  <div class="box">Registra a tu Paciente </div>
  <div class="container">
    <table class="table table-fixed">
      <form action="#" method="POST" enctype="multipart/form-data" >
      <thead>
        <tr>
          <th class="col-xs-3" id="nombre_mascota">Nombre Mascota</th>
          <th class="col-xs-3" id="nombre_mascota">Raza Mascota</th>
          <th class="col-xs-3" id="nombre_dueño">Nombre Dueño</th>
          <th class="col-xs-6" id="enfermedades">Enfermedades</th>
          <th id="años_mascota">Años Mascota</th>
          
          
        </tr>
     
      </thead>
      
     <td> <form action="#Inicio" class="d-flex" role="text"  method="POST" enctype="multipart/form-data" >
        <input class="form-control me-3"
      type="text" id="nombre_mascota1" placeholder="" aria-label="Search" >
             </form>
             <td> 
              <form action="#Inicio" class="d-flex1" role="text" method="POST" enctype="multipart/form-data" >
                 <input class="form-control me-3" type="text" placeholder="" aria-label="Search" id="raza_mascota">
               </form>
            </td>
              <td> 
                <form action="#Inicio" class="d-flex1" role="text" method="POST" enctype="multipart/form-data" >
                   <input class="form-control me-3" type="text" placeholder="" aria-label="Search" id="nombre_dueño1">
                 </form>
              </td>
<td>
  <form action="#Inicio" class="d-flex2" role="text" method="POST" enctype="multipart/form-data" >
     <input class="form-control me-3" type="number" placeholder="" aria-label="Search" id="enfermedades1">
    
  </form>
</td>

<td>
  <form action="Inicio.html" class="d-flex3" role="text" method="POST" enctype="multipart/form-data" >
   <input class="form-control me-3" type="text" placeholder="" aria-label="Search" id="años_mascota1">


   
<div class="editarboton"><button type="button"onclick='return enviarformulario_r();' values="enviar" class="btn btn-outline-primary">Guardar</button></div></div> 
<div id="error"></div>
</form>
  </form>
  
</td>

      <tbody>
        

        <script src="{%static 'menu/veterinaria_juanita/HTML/JAVA/javaFormulario.js' %}"></script>
        
{% endblock cuerpo %}