{% extends 'menu/ADMINISTRADOR/Plantilla_adm.html' %}

    {% load static %}

    {% block titulo %}     
     <title>revisar citas</title>
    {% endblock titulo %}

    {% block estilos %}
  <link rel="stylesheet" href="{%static 'menu/css_administrador/estiloREGISTRO.css' %}">
    {% endblock estilos %}
    
  <form action="" id="reserva-form">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <select name="form-control" name="reserva" id="reserva">
        {%for i in Reserva%}
        {%if i.correoUsuario == datos.Reserva.correoUsuario%}
        <option value="{{i.correoUsuario}}" selected>{{i.nombreUsuario}}</option>
        {%else%}
        <option value="{{i.correoUsuario}}">{{nombreUsuario}}</option>
        {%endif%}
        

  
      </select>
      </div>
      <a href="{%url 'modificar' i.nombreUsuario %}" class="btn-btn-primary">Modificar</a>
      <a href="{%url 'eliminar' i.nombreUsuario %}" class="btn-btn-danger">Eliminar</a>
       {%endfor%}
    </div>

  </form>


      
      {% block cuerpo %}

    
</body>
</html>