{% extends 'menu/ADMINISTRADOR/Plantilla_adm.html' %}

    {% load static %}

    {% block titulo %}     
     <title>revisar citas</title>
    {% endblock titulo %}

    {% block estilos %}
  <link rel="stylesheet" href="{%static 'menu/css_administrador/estiloREGISTRO.css' %}">
    {% endblock estilos %}
    
  <form action="">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <select name="form-control" name="reserva" id="reserva">
        {%for i in Reserva%}
        {%if i.correoUsuario == datos.raza.correoUsuario%}
        <option value="{{i.correoUsuario}}" selected>{{i.nombreUsuario}}</option>
        {%else%}
        <option value="{{i.correoUsuario}}">{{nombreUsuario}}</option>
        {%endif%}
        

        {%endfor%}
      </select>
      </div>
      <button type="submit" class="btn-btm-primary">Modificar</button>
    </div>

  </form>


      
      {% block cuerpo %}

    
</body>
</html>