{% extends 'menu/ADMINISTRADOR/Plantilla_adm.html' %}

    {% load static %}

    {% block titulo %}     
     <title>revisar citas</title>
    {% endblock titulo %}

    {% block estilos %}
  <link rel="stylesheet" href="{%static 'menu/css_administrador/estiloREGISTRO.css' %}">
    {% endblock estilos %}
    
  
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        {%for i in Reserva%}


        {%endfor%}
      </div>
    </div>




      
      {% block cuerpo %}
    
  <form action="" method="POST" enctype="multipart/form-data">
     <div style="font-family: 'calibri'; margin-top: 20px;">En este espacio aparecerán las citas agendadas por los clientes, puedes modificar o eliminar</div>

</form>

    
</body>
</html>