<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link type="text/css" rel="stylesheet" href="{% static menu/css/estilo.css %}">
  <link rel="stylesheet" href="{% static 'menu/css/estilo.css' %}">
  <link rel="stylesheet" href="{% static 'menu/css/ESTILO2.css' %}">
  <link rel="stylesheet" href="{% static 'menu/css/AgendaOnline.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>Agenda Online</title>




</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="circulo" href="Inicio.html"><IMG src="{% static 'menu/img/LOGO.png' %}" class="imagen"></IMG></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="Inicio.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#AgendaOnline">Agenda Online</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Contacto.html">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Servicios.html">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Login.html">Iniciar sesión</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>
  <div class='container'>

    <header>
      <h2 class="box">Reserva Online </h2>
      <h2 class="box">
        <p>Puedes enviar tu reserva online aquí, puedes incluir una foto de tu mascota. </p>
      </h2>
    </header>

    <!-- / START Form -->
    <div class='form'>
      <form>
        <div class='field'>
          <label for='username'>Nombre completo</label>
          <input id='username' name='username' type='text' placeholder="Ingresa tu Nombre completo">
        </div>
        <div class='field'>
          <label for='email'>Tu e-mail</label>
          <input id='email' name='email' type='email' placeholder='Ingresa tu correo eletronico'>
        </div>
        <div class='field'>
          <label for='tipo'>Tipo de reserva</label>
          <select id="tipo" name='tipo'>
            <option value="opt_Consulta">Consulta </option>
            <option value="opt_Exame">Examenes</option>
            <option value="opt_Inter">Interconsultas </option>
            <option value="opt_Cirugias">Cirugias</option>
          </select>
        </div>
        <div class='field'>
          <label for='password'>Archivo (PDF o imagen) </label>
          <input accept=".jpg, .jpeg, .png, .pdf" type="file" id="file" name="file" required>
        </div>
        <div class="field">
          <label for="tipo">Fecha de reserva</label>
          <input type="date" id="arrive" class="floatLabel" name="arrive" value="?php echo date('Y-m-d'); ?>">
          <label for="arrive" class="label-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;</label>
        </div>
        <br>


        <div class='field full'>
          <label for='rpassword'>Mensaje (opcional)</label>


          <textarea name="message" class="form-textarea" id="textarea2" rows="8" cols="48"
            placeholder="Breve descripción del estado de su mascota..."></textarea>

        </div>
        <p></p>
        <div class='checkbox'>

          <label for='checkbox'>

          </label>
        </div>
        <button type="button" id="consulta" onclick="return enviarformulario_agenda();" values="enviar">Enviar</button>
        <div id="error"></div>
      </form>
    </div>
    <!-- / END Form -->

  </div>
  <footer>
    <div class="contenedor-footer">
      <div class="content-foo">
        <h4>Teléfono</h4>
        <p>8296312</p>
      </div>
      <div class="content-foo">
        <h4>Email</h4>
        <p>8296312</p>
      </div>
      <div class="content-foo">
        <h4>Ubicación</h4>
        <p>8296312</p>
      </div>
    </div>
    <h2 class="titulo-final">&copy; Veterinaria Juanita</h2>
  </footer>
  <script src="/PaginaCliente/veterinaria_juanita/HTML/JAVA/javaFormulario.js"></script>
</body>

</html>