
{% extends 'menu/HTML/Plantilla.html' %}

    {% load static %}

    {% block titulo %}     
  <title>Agenda Online</title>
    {% endblock titulo %}

    {% block estilos %}
  <link rel="stylesheet" href="{% static 'menu/css/AgendaOnline.css' %}">
    {% endblock estilos %}
    
    

      
      {% block cuerpo %}
  <div class='container'>

    <header>
      <h2 class="box">Reserva Online </h2>
      <h2 class="box">
        <p>Puedes enviar tu reserva online aquí, puedes incluir una foto de tu mascota. </p>
      </h2>
    </header>

    <!-- / START Form -->
    <div class='form'>
      <form action="{% url 'crear_reserva' %}" method="POST" enctype="multipart/form-data" id="form-agenda">
        {% csrf_token %}
        <div class='field'>
          <label for='username'>Nombre completo</label>
          <input id='username' name='username' type='text' placeholder="Ingresa tu Nombre completo">
        </div>
        <div class='field'>
          <label for='email'>Tu e-mail</label>
          <input id='email' name='email' type='email' placeholder='Ingresa tu correo eletronico'>
        </div>
        <div class='field'>
          <label for='tipo'>Tipo de reserva</label>
          <select id="tipo" name='tipo'>
            <option id= "opt_Consulta" value="opt_Consulta">Consulta </option>
            <option id="opt_Exame" value="opt_Exame">Examenes</option>
            <option id="opt_Inter" value="opt_Inter">Interconsultas </option>
            <option id="opt_Cirugias" value="opt_Cirugias">Cirugias</option>
          </select>
        </div>
        <div class='field'>
          <label for='tipo'>Chip</label>  
          <input id='Id_Chip' name='Chip' type="number" placeholder="Ingresa el Chip de tu mascota" >
        </div> 

        <div class='field'>
          <label for='password'>Archivo (PDF o imagen) </label>
          <input accept=".jpg, .jpeg, .png, .pdf" type="file" id="file" name="file" required>
        </div>
        <div class="field">
          <label for="tipo">Fecha de reserva</label>
          <input type="date" id="arrive" class="floatLabel" name="arrive" value="?php echo date('Y-m-d'); ?>">
          <label for="arrive" class="label-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;</label>
        </div>
        <br>
        <div class='field'>
          <label for='tipo'>Nombre de Mascota</label>   
          <input id='IdNombre_Mas' name='Nombre_Masc' type='text' placeholder="Ingresa el nombre de tu mascota" >
        </div>

        <div class='field'>
          <label for='tipo'>Raza</label>   
          <input id='Raza' name='Raza' type='text' placeholder="Ingresa la Raza de tu mascota"  >

          </div>
          <div class='field'>
            <label for='tipo'>Edad Mascota</label>   
            <input id='Raza' name='Raza' type='number' placeholder="Ingresa la Edad de tu mascota"  >
  
            </div>


        <div class='field full'>
          <label for='rpassword'>Mensaje</label>


          <textarea name="message" class="form-textarea" id="textarea2" rows="8" cols="48"
            placeholder="Breve descripción del estado de su mascota..."></textarea>

        </div>
        <p></p>
        <div class='checkbox'>

          <label for='checkbox'>

          </label>
        </div>
       <center> <input type="submit" id="consulta" value="enviar" style="border: 50px; background-color: aquamarine; " size="40px" ></center>
        <div id="error"></div>
      </form>
    </div>
    <!-- / END Form -->

  </div>


  <footer>
    <div class="contenedor-footer">
      <div class="content-foo">
        <h4>Teléfono</h4>
        <p>8296312</p>
      </div>
      <div class="content-foo">
        <h4>Email</h4>
        <p>8296312</p>
      </div>
      <div class="content-foo">
        <h4>Ubicación</h4>
        <p>8296312</p>
      </div>
    </div>
    <h2 class="titulo-final">&copy; Veterinaria Juanita</h2>
  </footer>

  
  <script src="{% static 'menu/JAVA/javaFormulario.js' %}"></script>
  {% endblock cuerpo %}
