<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>

    <link rel="stylesheet" href="{% static 'menu/css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'menu/css/ESTILO2.css' %}">
    <link rel="stylesheet" href="{% static 'menu/css/estiloINICIO.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    
</head>
<header>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="circulo" href="Inicio.html"><IMG src="{% static 'menu/img/LOGO.png' %}" class="imagen"></IMG></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                     <a class="nav-link" href="#Inicio">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="AgendaOnline.html">Agenda Online</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Contacto.html">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Nosotros.html">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Servicios.html">Servicios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Login.html">Iniciar Sesión</a>
              </li>
            
            



               
            </ul>
            
          </div>
        </div>
      </nav>
      

<section class="hero-image">
<div class="carousuel">
 <div class="carousel__item pic__one">
  <div class="carousel__content">  
    <h1>Agenda, tu hora para tu mascota </h1>
    <p>Brindamos una atención veterinaria, moderna, profesional para sus mascotas. Nuestro objetivo es hacer que su mascota se
    sienta a gusto en nuestras clínicas, con un enfoque atento y amable.</p>
   <a href="../HTML/AgendaOnline.html"> <button class="custom-btn btn-3"><span>Agenda Online</span></button></a>
   </div>
  </div>
  

 <div class="carousel__item pic__two">
  <div class="carousel__content">
  <h1>Conoce Nuestros Servicios </h1>
  <p>Contamos con un equipo experto que cuidará la salud de tu mascota. Estamos preparados para atender a tu mascota.</p>
  <a href="../HTML/Servicios.html"><button class="custom-btn btn-3"><span>Consulta Aqui</span></button></a>
 </div>
</div>

 <div class="carousel__item pic__three">
  <div class="carousel__content">
  <h1>Visita  y Conoce más Sobre Nosotros </h1>
  <p>Encontrarás infomación sobre Nuestra experiencia</p>
  <a href="../../../PaginaCliente/veterinaria_juanita/HTML/Nosotros.html"><button class="custom-btn btn-3"><span>Informate Aqui</span></button></a>
 </div>
 </div>

<a  class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a  class="next" onclick=plusSlides(1)>&#10095;</a>

</div>
</section>
<script src="JAVA/java.js"></script>
<h2 class="titulo-final">&copy; Veterinaria Juanita</h2>
</body>
  

      
      
</html>