{% extends 'menu/HTML/Plantilla.html' %}

    {% load static %}

    {% block titulo %}     
      <title>Inicia Sesión</title>
    {% endblock titulo %}

    {% block estilos %}
     <link rel="stylesheet" href="{% static 'menu/css/login.css' %}">
    {% endblock estilos %}
    
    

      
      {% block cuerpo %}
  

  <div class="container" id="container">
    <div class="form-container sign-up-container" id="form">

<!--VALIDACIONES JS CREAR CUENTA-->

      <form action="{% url 'ingreso_registrarse'%}" id='formulario' method="POST" enctype="multipart/form-data">
        {% crsf_token %}
        <h1>Crear una cuenta</h1>
        <div class="social-container">

        </div>
        <div>
          <!--Registrarse-->
          <input type="text" placeholder="Nombre Completo" id="nombre" />
          <input type="email" placeholder="Correo electrónico" id="correo" />
          <input type="password" placeholder="Contraseña" id="contraseña" />
          <input type="password" placeholder="Ingresa nuevamente tu contraseña" id="contraseña_nueva" />
        </div>
        <!--  JavaScript -->
        <button type="submit" onclick='return enviarformulario();' values="enviar">Registrar</button>
        <div id="error"></div>
      </form>


    </div>
<!--VALIDACION JS INICIAR SESION-->
    <div class="form-container sign-in-container">
      <form action="#" method="POST" enctype="multipart/form-data">
        <h1>Iniciar sesión</h1>
        <div class="social-container">
        <!--para inicio de sesion se necesita vista solamente-->
        </div>
        <!--InicioSesion-->
        <input type="email" placeholder="Correo electrónico" id="correolog" />
        <input type="password" placeholder="Contraseña" id="contralog" />
        <a href="{% url 'OlvidoContra' %}">¿Se te olvidó tu contraseña?</a>
        <!--JavaScript-->
        <button type="submit" onclick='return enviaformlog();' values="enviar">Iniciar sesión</button>
        <div id="errorlog"></div>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>¡Bienvenido de nuevo!</h1>
          <p>Para mantenerse conectado con nosotros, inicie sesión con su información personal</p>
          <button class="ghost" id="signIn">Inciar sesión</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>¡Hola, amigo!</h1>
          <p>Ingresa tus datos personales </p>
          <button class="ghost" id="signUp">Inscribirse</button>
          <p class="warnings" id="warnings"></p>
        </div>
      </div>
    </div>
  </div>
  <h2 class="titulo-final">&copy; Veterinaria Juanita</h2>
  <script src="{% static 'menu/JAVA/javaFormulario.js' %}"></script>
  <script src="{% static 'menu/JAVA/javaLogin.js' %}"></script>

  {% endblock cuerpo %}