{% extends 'menu/HTML/Plantilla.html' %}

    {% load static %}

    {% block titulo %}     
    <title>¿Olvidaste tu contraseña?</title>
    {% endblock titulo %}

    {% block estilos %}
    <link rel="stylesheet" href="{% static 'menu/css/login.css' %}">
    {% endblock estilos %}
    
    

      
      {% block cuerpo %}

        <div class="container" id="container">
            <div class="form-container sign-up-container" id="form">
                <form action="{% url 'Login' %}" class="formulario" id="formulario" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="social-container">

                    </div>


                    <input type="email" placeholder="Correo electrónico" id="correoOlvida0"/>
                    <input type="password" placeholder="Contraseña" id="contraseña0" />
                    <input type="passwordNueva" placeholder="Contraseña" id="contranueva0" />
                  
                </form>
            </div>

            <div class="form-container sign-in-container">
                <form action="{% url 'Login' %}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <h1>¿Olvidaste tu contraseña?</h1>
                    <div class="social-container">

                    </div>

                    <input type="email" placeholder="Correo electrónico"  id="correoOlvida" id="correoOlvida" required/>
                    <input type="password" placeholder=" Ingresa tu nueva contraseña" id="contraOlvida" required />
                    <input type="password" placeholder=" Ingresa nuevamente la contraseña" id="contraNueva" required/>
                    <a href="{% url 'Login' %}">Volver a inicio de sesión</a>
                    <input type="submit"  values="enviar">
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">



                    </div>
                    <div class="overlay-panel overlay-right">

                        <img class="Gatito" src="{% static 'menu/img/GatoInterrogaivo.png' %}" alt="">



                    </div>
                </div>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Veterinaria Juanita</h2>
        <script src="{% static 'menu/JAVA/javaFormulario.js' %}"></script>
        <script src="{% static 'menu/JAVA/OlvidoContra.js' %}"></script>
        
        {% endblock cuerpo %}