{% extends 'menu/HTML/Plantilla.html' %}

    {% load static %}

    {% block titulo %}     
    <title>SERVICIOS</title>
    {% endblock titulo %}

    {% block estilos %}
    <link rel="stylesheet" href="{% static 'menu/css/SER.css' %}">
    {% endblock estilos %}
    
    

      
      {% block cuerpo %}
    
    <section class="textos-header">
      <h1>Servicios</h1>
      <h2>Contamos con múltiples herramientas, con el fin de cuidar a nuestros pacientes.</h2>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
        style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
          style="stroke: none; fill: #fff;"></path>
      </svg></div>
 

  <section class="portafolio">
    <div class="contenedor">
      <h2 class="titulo">CONOCE LOS SERVICIOS QUE TENEMOS PARA TI</h2>
      <div class="galeria-port">
        <div class="imagen-port">
          <img src="{% static 'menu/img/acercamiento-al-medico-veterinario-cuidando-mascota_23-2149267934.avif' %}" alt="">
          <div class="hover-galeria">
            <img src="{% static 'menu/img/icono1.png' %}" alt="">
            <h3 class="titulo2">Consultas</h3>
            <p>Nuestro objetivo es la búsqueda de un diagnóstico preciso y adecuado para cada paciente.</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="{% static 'menu/img/images.jpg' %}" alt="">
          <div class="hover-galeria">
            <img src="{% static 'menu/img/icono1.png' %}" alt="">
            <h3 class="titulo2">Cirugias</h3>
            <p>Contamos con múltiples pabellones, equipados con las mejores tecnologías de monitoreo y anestesia.</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="{% static 'menu/img/interconsultas.jpg' %}" alt="">
          <div class="hover-galeria">
            <img src="{% static 'menu/img/icono1.png' %}" alt="">
            <h3 class="titulo2">Interconsultas</h3>
            <p>Cardiología, Dermatología, Oftalmología, Odontología, lo que necesite tu mascota!

            </p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="{% static 'menu/img/examenes.webp' %}" alt="">
          <div class="hover-galeria">
            <img src="{% static 'menu/img/icono1.png' %}" alt="">
            <h3 class="titulo2">Exámenes</h3>
            <p>Para llegar a un diagnóstico más preciso realizaremos diferentes exámenes</p>
          </div>
        </div>


  </section>
  <section class="contenedor sobre-nosotros">
    <h2 class="titulo">¿Cuál es el valor de la consulta?</h2>

    <center>
      <table class="tablita">
        <thead>
          <tr>
            <th>Mascota</th>
            <th>Horario</th>
            <th>Valor</th>
            <th>Valor fines de semana y feriado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Perros-Gatos</td>
            <td>Lunes-Viernes</td>
            <td>20.000</td>
            <td>25.000</td>
            </div>
          </tr>
        </tbody>
      </table>
      </div>
    </center>
    <center> <a href="{% url 'AgendaOnline' %}"><button class="custom-btn btn-3"> <span>Agenda Aqui</span></button></a>
    </center>
  </section>
  </main>
  <hr>
  <section class="clientes contenedor">
    <h2 class="titulo">¿Cuál es el valor de las Cirugias?</h2>

    <center>
      <table class="tablita">
        <thead>
          <tr>
            <th>Mascota</th>
            <th>Horario</th>
            <th>Valor</th>
            <th>Valor fines de semana y feriado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Perros-Gatos</td>
            <td>Lunes-Viernes</td>
            <td>20.000</td>
            <td>25.000</td>
            </div>
          </tr>
        </tbody>
      </table>
      </div>
    </center>
    <center> <a href="{% url 'AgendaOnline' %}"><button class="custom-btn btn-3"> <span>Agenda Aqui</span></button></a>
    </center>
  </section>
  </main>
  <hr>
  <section class="contenedor sobre-nosotros">
    <h2 class="titulo">¿Cuál es el valor de las Interconsultas?</h2>

    <center>
      <table class="tablita">
        <thead>
          <tr>
            <th>mascota</th>
            <th>Horario</th>
            <th>Valor</th>
            <th>Valor fines de semana y feriado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Perros-Gatos</td>
            <td>Lunes-Viernes</td>
            <td>20.000</td>
            <td>25.000</td>
            </div>
          </tr>
        </tbody>
      </table>
      </div>
    </center>
    <center> <a href="{% url 'AgendaOnline' %}"><button class="custom-btn btn-3"> <span>Agenda Aqui</span></button></a>
    </center>
  </section>
  </main>
  <hr>
  <section class="contenedor sobre-nosotros">
    <h2 class="titulo">¿Cuál es el valor de los exámenes?</h2>

    <center>
      <table class="tablita">
        <thead>
          <tr>
            <th>Mascota</th>
            <th>Horario</th>
            <th>Valor</th>
            <th>Valor fines de semana y feriado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Perros-Gatos</td>
            <td>Lunes-Viernes</td>
            <td>20.000</td>
            <td>25.000</td>
            </div>
          </tr>
        </tbody>
      </table>
      </div>
    </center>
    <center> <a href="{% url 'AgendaOnline' %}"><button class="custom-btn btn-3"> <span>Agenda Aqui</span></button></a>
    </center>
  </section>
  </main>

  
  <footer>
    <div class="contenedor-footer">
      <div class="content-foo">
        <h4>Teléfono</h4>
        <p>+56 98296</p>
      </div>
      <div class="content-foo">
        <h4>Email</h4>
        <p>VetJuanita@gmail.com</p>
      </div>

    </div>
    <h2 class="titulo-final">&copy; Veterinaria Juanita</h2>
  </footer>


  {% endblock cuerpo %}